<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.modules.classify.mapper.ClassifyWristbandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.tiny.modules.classify.model.ClassifyWristband">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="fixed_code" property="fixedCode" />
        <result column="status" property="status" />
        <result column="bounded" property="bounded" />
        <result column="bound_person_num" property="boundPersonNum" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
